/*!
 * cfedermann research-page v2013a
 *
 * Copyright 2012 Christian Federmann
 *
 * Thanks go to Christian Robertson for the Roboto Condensed font
 * http://www.google.com/fonts/specimen/Roboto+Condensed
 *
 */

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Condensed Regular'), local('RobotoCondensed-Regular'), url(robotocondensed.woff) format('woff');
}

body {
  font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

[class*="span"] {
  border:1px solid rgba(0, 0, 0, 0.2);
  margin-bottom:10px;
  margin-top:10px;
  padding:5px;
}

.black { background-color:black;color:white; } /*dimgray*/
.black a { color:darkgray; } /*black*/

.blue1 { background-color:darkblue;color:white; }
.blue1 a { color:lightskyblue; }
.blue2 { background-color:royalblue;color:white; }
.blue2 a { color:lightskyblue; }
.blue3 { background-color:dodgerblue;color:white; }
.blue3 a { color:lightskyblue; }

.green1 { background-color:green; color:white; }
.green1 a { color:greenyellow; }
.green2 { background-color:yellowgreen; color:white; }
.green2 a { color:darkgreen; }
.green3 { background-color:limegreen; color:white; }
.green3 a { color:greenyellow; }

.orange { background-color:orange;color:white; }
.orange a { color:yellow; }

.purple { background-color:purple;color:white; }
.purple a { color:mediumpurple; }

.red { background-color:darkred;color:white; }
.red a { color:crimson;}

.yellow { background-color:yellow;color:black; }
.yellow a { color:darkorange; }

.no-border { border: 0px; }
.no-margin { margin:0px; }
.no-padding { padding:0px; }
